@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  font-family: 'Work Sans', sans-serif;
}
font-family: 'Work Sans', sans-serif;
/* Todo: adding default color */

@tailwind base;
@tailwind components;
@tailwind utilities;
